<nav class="nav nav-pills nav-justified">
    <a class="nav-link active" aria-current="page" routerLink="">Inicio</a>
    <a class="nav-link" routerLink="proyectosV">Proyectos Voluntariado</a>
    <a class="nav-link" routerLink="organizacion">Organizaciones</a>
    <a class="nav-link" routerLink="voluntario">Voluntarios</a>
</nav> <br>
<div class="botones">
    <button type="button" class="btn btn-warning" routerLink="formProyectos">Nuevo Proyecto Voluntariado</button>
    <button type="button" class="btn btn-warning" routerLink="">Nuenva Organizacion</button>
    <button type="button" class="btn btn-warning" routerLink="">Nuevo Voluntario</button><br>
</div>
<router-outlet></router-outlet>